In [3]:
import pandas as pd

In [4]:
a=pd.Series([10,20,30,40])
print(a)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
print(a[2])

30

In [6]:
print(a.values)

[10 20 30 40]

In [7]:
print(a.index)

RangeIndex(start=0, stop=4, step=1)

In [8]:
df=pd.read_csv("Data set.csv")

In [9]:
df

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,1,Harish Lingam,25,Male,101.00,no,yes,yes,yes,no,1 week,yes,dengue
1,2,Gopika,18,Female,98.00,no,no,yes,no,yes,2 days,no,NaN
2,3,Shaheen,20,Female,100.00,yes,no,yes,no,no,1 day,no,NaN
3,4,Sweatha,23,Female,99.69,yes,yes,yes,yes,yes,5 days,yes,typhoid
4,5,Noura,13,Female,100.90,yes,no,yes,no,yes,3 days,yes,viral fever
5,6,Hariharan,19,Male,99.70,no,no,yes,no,no,2 days,no,NaN
6,7,Kishore,32,Male,105.40,yes,yes,yes,yes,yes,2 weeks,yes,corona
7,8,Selvi,33,Female,100.10,no,no,no,yes,yes,1 day,no,NaN
8,9,Jebisha Lily,23,Female,98.20,no,yes,no,yes,no,2 days,no,NaN
9,10,Swathi,12,Female,96.30,no,yes,yes,yes,no,1 day,yes,viral fever
10,11,Sathish,14,Male,97.20,no,no,no,no,yes,1 day,no,NaN
11,12,Adhi,14,Female,99.30,yes,no,no,no,no,3 days,yes,dengue
12,13,Sakthivel,24,Male,100.20,yes,yes,yes,no,yes,1 day,yes,normal fever
13,14,Asha,53,Female,101.30,no,yes,yes,yes,no,4 days,yes,jaundice
14,15,Manikandan,18,Male,100.00,yes,no,no,yes,no,1 day,no,NaN
15,16,Esai,23,Female,98.70,no,yes,no,no,no,1 day,yes,NaN
16,17,Preetha,21,Female,99.10,no,yes,no,no,yes,2 days,no,normal fever
17,18,Mohan,32,Male,101.30,yes,no,no,yes,no,1 day,yes,jaundice
18,19,Vasu,23,Male,100.20,no,no,no,yes,no,3 days,no,normal fever
19,20,Maha,41,Female,99.10,no,no,yes,yes,no,2 days,yes,viral fever
20,21,Gopika,18,Female,98.00,no,no,yes,no,yes,NaN,NaN,NaN
21,22,Shaheen,20,NaN,100.00,yes,no,yes,no,no,1 day,no,NaN
22,23,Sweatha,23,Female,99.69,yes,NaN,yes,yes,yes,5 days,yes,typhoid
23,24,Noura,13,Female,100.90,yes,no,yes,no,yes,3 days,yes,viral fever
24,25,Hariharan,19,NaN,99.70,no,no,yes,no,NaN,2 days,no,NaN
25,26,Kishore,32,Male,105.40,yes,yes,yes,yes,yes,2 weeks,yes,corona
26,27,Selvi,33,Female,100.10,no,no,no,yes,yes,1 day,no,NaN
27,28,Manikandan,18,Male,100.00,yes,NaN,no,yes,no,1 day,no,NaN
28,29,Esai,23,Female,98.70,no,yes,no,no,no,1 day,yes,NaN
29,30,Preetha,21,NaN,99.10,no,yes,no,NaN,yes,NaN,no,normal fever
30,31,Mohan,32,Male,101.30,yes,no,no,yes,no,1 day,yes,jaundice
31,32,Vasu,23,Male,100.20,no,no,no,yes,no,3 days,no,normal fever

In [10]:
#first 5 rows
df.head(10)

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,1,Harish Lingam,25,Male,101.00,no,yes,yes,yes,no,1 week,yes,dengue
1,2,Gopika,18,Female,98.00,no,no,yes,no,yes,2 days,no,NaN
2,3,Shaheen,20,Female,100.00,yes,no,yes,no,no,1 day,no,NaN
3,4,Sweatha,23,Female,99.69,yes,yes,yes,yes,yes,5 days,yes,typhoid
4,5,Noura,13,Female,100.90,yes,no,yes,no,yes,3 days,yes,viral fever
5,6,Hariharan,19,Male,99.70,no,no,yes,no,no,2 days,no,NaN
6,7,Kishore,32,Male,105.40,yes,yes,yes,yes,yes,2 weeks,yes,corona
7,8,Selvi,33,Female,100.10,no,no,no,yes,yes,1 day,no,NaN
8,9,Jebisha Lily,23,Female,98.20,no,yes,no,yes,no,2 days,no,NaN
9,10,Swathi,12,Female,96.30,no,yes,yes,yes,no,1 day,yes,viral fever

In [11]:
#last 5 rows
df.tail()

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
27,28,Manikandan,18,Male,100.0,yes,NaN,no,yes,no,1 day,no,NaN
28,29,Esai,23,Female,98.7,no,yes,no,no,no,1 day,yes,NaN
29,30,Preetha,21,NaN,99.1,no,yes,no,NaN,yes,NaN,no,normal fever
30,31,Mohan,32,Male,101.3,yes,no,no,yes,no,1 day,yes,jaundice
31,32,Vasu,23,Male,100.2,no,no,no,yes,no,3 days,no,normal fever

In [12]:
#rows and columns
df.shape

(32, 13)

In [13]:
#column names
df.columns

Index(['Token No', 'Name', 'Age', 'Gender', 'Temperature', 'Acidity',
       'vomiting sensation', 'cold', 'Headache', 'diarrhoea', 'Duration',
       'Fever', 'Type'],
      dtype='object')

In [14]:
#data type info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Token No            32 non-null     int64
 1   Name                32 non-null     object
 2   Age                 32 non-null     int64
 3   Gender              29 non-null     object
 4   Temperature         32 non-null     float64
 5   Acidity             32 non-null     object
 6   vomiting sensation  30 non-null     object
 7   cold                32 non-null     object
 8   Headache            31 non-null     object
 9   diarrhoea           31 non-null     object
 10  Duration            30 non-null     object
 11  Fever               31 non-null     object
 12  Type                18 non-null     object
dtypes: float64(1), int64(2), object(10)
memory usage: 3.4+ KB

In [15]:
#summary statistics
df.describe()

        Token No        Age  Temperature
count  32.000000  32.000000    32.000000
mean   16.500000  23.625000    99.961875
std     9.380832   8.764849     1.845183
min     1.000000  12.000000    96.300000
25%     8.750000  18.000000    99.100000
50%    16.500000  23.000000   100.000000
75%    24.250000  26.750000   100.375000
max    32.000000  53.000000   105.400000

In [16]:
df['Name']

0     Harish Lingam
1            Gopika
2           Shaheen
3           Sweatha
4             Noura
5         Hariharan
6           Kishore
7             Selvi
8      Jebisha Lily
9            Swathi
10          Sathish
11            Adhi
12        Sakthivel
13             Asha
14       Manikandan
15             Esai
16          Preetha
17            Mohan
18             Vasu
19             Maha
20           Gopika
21          Shaheen
22          Sweatha
23            Noura
24        Hariharan
25          Kishore
26            Selvi
27       Manikandan
28             Esai
29          Preetha
30            Mohan
31             Vasu
Name: Name, dtype: object

In [17]:
df[['Name','Age']]

             Name  Age
0   Harish Lingam   25
1          Gopika   18
2         Shaheen   20
3         Sweatha   23
4           Noura   13
5       Hariharan   19
6         Kishore   32
7           Selvi   33
8    Jebisha Lily   23
9          Swathi   12
10        Sathish   14
11          Adhi    14
12      Sakthivel   24
13           Asha   53
14     Manikandan   18
15           Esai   23
16        Preetha   21
17          Mohan   32
18           Vasu   23
19           Maha   41
20         Gopika   18
21        Shaheen   20
22        Sweatha   23
23          Noura   13
24      Hariharan   19
25        Kishore   32
26          Selvi   33
27     Manikandan   18
28           Esai   23
29        Preetha   21
30          Mohan   32
31           Vasu   23

In [18]:
#random data
df.sample(4)

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
31,32,Vasu,23,Male,100.2,no,no,no,yes,no,3 days,no,normal fever
18,19,Vasu,23,Male,100.2,no,no,no,yes,no,3 days,no,normal fever
0,1,Harish Lingam,25,Male,101.0,no,yes,yes,yes,no,1 week,yes,dengue
25,26,Kishore,32,Male,105.4,yes,yes,yes,yes,yes,2 weeks,yes,corona

In [19]:
#32 rows and 13 colns so 32x13
df.size

416

In [20]:
df.index

RangeIndex(start=0, stop=32, step=1)

In [21]:
df.dtypes

Token No                int64
Name                   object
Age                     int64
Gender                 object
Temperature           float64
Acidity                object
vomiting sensation     object
cold                   object
Headache               object
diarrhoea              object
Duration               object
Fever                  object
Type                   object
dtype: object

In [22]:
df.iloc[0]

Token No                          1
Name                  Harish Lingam
Age                              25
Gender                         Male
Temperature                   101.0
Acidity                          no
vomiting sensation              yes
cold                            yes
Headache                        yes
diarrhoea                        no
Duration                     1 week
Fever                           yes
Type                         dengue
Name: 0, dtype: object

In [23]:
#till last index 
df.loc[0:3]

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,1,Harish Lingam,25,Male,101.00,no,yes,yes,yes,no,1 week,yes,dengue
1,2,Gopika,18,Female,98.00,no,no,yes,no,yes,2 days,no,NaN
2,3,Shaheen,20,Female,100.00,yes,no,yes,no,no,1 day,no,NaN
3,4,Sweatha,23,Female,99.69,yes,yes,yes,yes,yes,5 days,yes,typhoid

In [24]:
#last index n-1

df.iloc[0:3]

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,1,Harish Lingam,25,Male,101.0,no,yes,yes,yes,no,1 week,yes,dengue
1,2,Gopika,18,Female,98.0,no,no,yes,no,yes,2 days,no,NaN
2,3,Shaheen,20,Female,100.0,yes,no,yes,no,no,1 day,no,NaN

In [25]:
df.loc[0]

Token No                          1
Name                  Harish Lingam
Age                              25
Gender                         Male
Temperature                   101.0
Acidity                          no
vomiting sensation              yes
cold                            yes
Headache                        yes
diarrhoea                        no
Duration                     1 week
Fever                           yes
Type                         dengue
Name: 0, dtype: object

In [26]:
#null=true,not null=false
df.isnull()

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,True,True,True
21,False,False,False,True,False,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,True,False,False,False,False,False,True,False,False,True
25,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,True,False,False,False,False,False,True
28,False,False,False,False,False,False,False,False,False,False,False,False,True
29,False,False,False,True,False,False,False,False,True,False,True,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
df.isnull().sum()

Token No               0
Name                   0
Age                    0
Gender                 3
Temperature            0
Acidity                0
vomiting sensation     2
cold                   0
Headache               1
diarrhoea              1
Duration               2
Fever                  1
Type                  14
dtype: int64

In [28]:
#null=false,not null=true
df.notnull()

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,False
2,True,True,True,True,True,True,True,True,True,True,True,True,False
3,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True,False
6,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True,True,False
8,True,True,True,True,True,True,True,True,True,True,True,True,False
9,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,False
11,True,True,True,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,False
15,True,True,True,True,True,True,True,True,True,True,True,True,False
16,True,True,True,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,False,False,False
21,True,True,True,False,True,True,True,True,True,True,True,True,False
22,True,True,True,True,True,True,False,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,True,True,True
24,True,True,True,False,True,True,True,True,True,False,True,True,False
25,True,True,True,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,True,True,False
27,True,True,True,True,True,True,False,True,True,True,True,True,False
28,True,True,True,True,True,True,True,True,True,True,True,True,False
29,True,True,True,False,True,True,True,True,False,True,False,True,True
30,True,True,True,True,True,True,True,True,True,True,True,True,True
31,True,True,True,True,True,True,True,True,True,True,True,True,True

In [29]:
#fill null values with 0
df.fillna(0)

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,1,Harish Lingam,25,Male,101.00,no,yes,yes,yes,no,1 week,yes,dengue
1,2,Gopika,18,Female,98.00,no,no,yes,no,yes,2 days,no,0
2,3,Shaheen,20,Female,100.00,yes,no,yes,no,no,1 day,no,0
3,4,Sweatha,23,Female,99.69,yes,yes,yes,yes,yes,5 days,yes,typhoid
4,5,Noura,13,Female,100.90,yes,no,yes,no,yes,3 days,yes,viral fever
5,6,Hariharan,19,Male,99.70,no,no,yes,no,no,2 days,no,0
6,7,Kishore,32,Male,105.40,yes,yes,yes,yes,yes,2 weeks,yes,corona
7,8,Selvi,33,Female,100.10,no,no,no,yes,yes,1 day,no,0
8,9,Jebisha Lily,23,Female,98.20,no,yes,no,yes,no,2 days,no,0
9,10,Swathi,12,Female,96.30,no,yes,yes,yes,no,1 day,yes,viral fever
10,11,Sathish,14,Male,97.20,no,no,no,no,yes,1 day,no,0
11,12,Adhi,14,Female,99.30,yes,no,no,no,no,3 days,yes,dengue
12,13,Sakthivel,24,Male,100.20,yes,yes,yes,no,yes,1 day,yes,normal fever
13,14,Asha,53,Female,101.30,no,yes,yes,yes,no,4 days,yes,jaundice
14,15,Manikandan,18,Male,100.00,yes,no,no,yes,no,1 day,no,0
15,16,Esai,23,Female,98.70,no,yes,no,no,no,1 day,yes,0
16,17,Preetha,21,Female,99.10,no,yes,no,no,yes,2 days,no,normal fever
17,18,Mohan,32,Male,101.30,yes,no,no,yes,no,1 day,yes,jaundice
18,19,Vasu,23,Male,100.20,no,no,no,yes,no,3 days,no,normal fever
19,20,Maha,41,Female,99.10,no,no,yes,yes,no,2 days,yes,viral fever
20,21,Gopika,18,Female,98.00,no,no,yes,no,yes,0,0,0
21,22,Shaheen,20,0,100.00,yes,no,yes,no,no,1 day,no,0
22,23,Sweatha,23,Female,99.69,yes,0,yes,yes,yes,5 days,yes,typhoid
23,24,Noura,13,Female,100.90,yes,no,yes,no,yes,3 days,yes,viral fever
24,25,Hariharan,19,0,99.70,no,no,yes,no,0,2 days,no,0
25,26,Kishore,32,Male,105.40,yes,yes,yes,yes,yes,2 weeks,yes,corona
26,27,Selvi,33,Female,100.10,no,no,no,yes,yes,1 day,no,0
27,28,Manikandan,18,Male,100.00,yes,0,no,yes,no,1 day,no,0
28,29,Esai,23,Female,98.70,no,yes,no,no,no,1 day,yes,0
29,30,Preetha,21,0,99.10,no,yes,no,0,yes,0,no,normal fever
30,31,Mohan,32,Male,101.30,yes,no,no,yes,no,1 day,yes,jaundice
31,32,Vasu,23,Male,100.20,no,no,no,yes,no,3 days,no,normal fever

In [30]:
#if there is null value drop the row
df.dropna()

,Token No,Name,Age,Gender,Temperature,Acidity,vomiting sensation,cold,Headache,diarrhoea,Duration,Fever,Type
0,1,Harish Lingam,25,Male,101.00,no,yes,yes,yes,no,1 week,yes,dengue
3,4,Sweatha,23,Female,99.69,yes,yes,yes,yes,yes,5 days,yes,typhoid
4,5,Noura,13,Female,100.90,yes,no,yes,no,yes,3 days,yes,viral fever
6,7,Kishore,32,Male,105.40,yes,yes,yes,yes,yes,2 weeks,yes,corona
9,10,Swathi,12,Female,96.30,no,yes,yes,yes,no,1 day,yes,viral fever
11,12,Adhi,14,Female,99.30,yes,no,no,no,no,3 days,yes,dengue
12,13,Sakthivel,24,Male,100.20,yes,yes,yes,no,yes,1 day,yes,normal fever
13,14,Asha,53,Female,101.30,no,yes,yes,yes,no,4 days,yes,jaundice
16,17,Preetha,21,Female,99.10,no,yes,no,no,yes,2 days,no,normal fever
17,18,Mohan,32,Male,101.30,yes,no,no,yes,no,1 day,yes,jaundice
18,19,Vasu,23,Male,100.20,no,no,no,yes,no,3 days,no,normal fever
19,20,Maha,41,Female,99.10,no,no,yes,yes,no,2 days,yes,viral fever
23,24,Noura,13,Female,100.90,yes,no,yes,no,yes,3 days,yes,viral fever
25,26,Kishore,32,Male,105.40,yes,yes,yes,yes,yes,2 weeks,yes,corona
30,31,Mohan,32,Male,101.30,yes,no,no,yes,no,1 day,yes,jaundice
31,32,Vasu,23,Male,100.20,no,no,no,yes,no,3 days,no,normal fever